.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  /**
  margin-left: 3rem;
  margin-bottom: 0rem;
**/
}
.portfolio h3 {
  margin-top: 0;
}

.portfolio li {
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 0rem 0.5rem;
  align-items: flex-start;
  list-style: " 🔗";
}

.portfolio li h3 {
  flex-direction: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  color: rgb(204, 227, 248);
  font-size: 1.2rem;
}
.portfolio li a {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
  color: rgb(204, 227, 248);
  border-left: 5px solid rgb(239, 239, 240);
  border-bottom: 5px solid rgba(150, 136, 255, 0.789);
  border-radius: 100%;
  padding-left: 10px;
}

.portfolio li a:hover {
  color: rgb(255, 255, 255);
  background-image: radial-gradient(
    rgba(224, 79, 243, 0.1),
    rgba(138, 144, 197, 0.1)
  );
}
