.languages {
display: flex;
flex-direction: row;
align-items: center ;
flex-wrap: wrap;
margin: 1rem;
padding: 0;
list-style: none;

}

.languages li {
padding: 0 0rem 2rem 2rem;
list-style: inside "📚";
flex-direction: row;
align-items: center;
justify-content: space-between;
font-weight: 700;
color: rgb(204, 227, 248);
font-size: 1rem;

}
